<div class="btn-group">
  <div *ngFor="let hour of allVisitHours">
    <div *ngIf="!isBooked() && !isInThePast(hour)">
      <button (click)="onBookVisitClicked(hour)">{{hour}}</button>
    </div>
    <div *ngIf="isBooked() || isInThePast(hour)">
      <button class="disabledButton" type="button" disabled>{{hour}}</button>
    </div>
  </div>
</div>
