<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Pet Type</th>
    <th scope="col">Date of Birth</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let pet of (pets$ | async); let i=index"
    app-pet-row
    [pet]="pet"
    [iterator]="i"
    (click)="onPetClick(pet.id)"
  >
  </tr>
  </tbody>
</table>

<div>
  <button (click)="onBackClick()">Back</button>
</div>
