<div class="login-page">
  <div class="form">
    <form (ngSubmit)="onSubmit()" class="login-form" #form="ngForm">
      <input required
             email="true"
             type="text"
             name="email"
             placeholder="email"
             ngModel
             #email="ngModel"/>
      <span class="help-block" *ngIf="email.touched && !email.valid">
        Invalid Email
      </span>
      <input required
             minlength="9"
             maxlength="9"
             type="text"
             name="phoneNumber"
             placeholder="phone number"
             ngModel
             #phoneNumber="ngModel"/>
      <span class="help-block" *ngIf="phoneNumber.touched && !phoneNumber.valid">
        Invalid Phone Number
      </span>
      <input required
             minlength="6"
             maxlength="20"
             type="password"
             name="password"
             placeholder="password"
             ngModel
             #password="ngModel"/>
      <span class="help-block" *ngIf="password.touched && !password.valid">
        Password size should be between 6-20 signs
      </span>
      <input required
             minlength="6"
             maxlength="20"
             type="password"
             name="repeatpassword"
             placeholder="repeat password"
             appConfirmEqualValidator="password"
             ngModel
             #repeatpassword="ngModel"/>
      <span class="help-block" *ngIf="repeatpassword.touched && repeatpassword.errors?.required">
        Confirm password can't be empty
      </span>
      <span class="help-block" *ngIf="repeatpassword.touched && repeatpassword.errors?.notEqual">
        Password and Confirm password does not match
      </span>
      <button class="btn btn-primary" [disabled]="!form.valid" type="submit">REGISTER</button>
    </form>
  </div>
</div>
