<div class="calendar">
  <div class="calendar-navs">
    <div class="year-nav">
      <button (click)="prevYear()">&lt;</button>
      <span>{{ currentDate.format('YYYY') }}</span>
      <button (click)="nextYear()">&gt;</button>
    </div>
    <div class="month-nav">
      <button (click)="prevMonth()">&lt;</button>
      <span class="p4">{{ currentDate.format('MMMM') }}</span>
      <button (click)="nextMonth()">&gt;</button>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div *ngFor="let name of dayNames" class="day-name p9">
        {{ name }}
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks" class="week">
        <ng-container *ngFor="let day of week; let i=index">
          <div class="week-date disabled"
               *ngIf="!isSelectedMonth(day.mDate) || !isPresentDate(day.mDate)">
            <span class="date-text-disabled">{{ day.mDate.date() }}</span>
          </div>
          <div class="week-date enabled"
               *ngIf="isSelectedMonth(day.mDate) && isPresentDate(day.mDate)"
               (click)="selectDate(day)"
               [ngClass]="{ today: isDayToday(day), selected: day.selected }">
            <div *ngIf="!isWeekend(i)">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
            <div *ngIf="isWeekend(i)">
              <span class="date-text-weekend">{{ day.mDate.date() }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="calendar-day" *ngIf="visitDate">
  <app-calendar-day [visitDate]="visitDate"></app-calendar-day>
</div>
