<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let doctor of (doctors$ | async); let i=index"
    app-doctor-row
    [doctor]="doctor"
  >
  </tr>
  </tbody>
</table>

<div>
  <button (click)="onBackClick()">Back</button>
</div>
