body
{
  background-color: #2F3336;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1
{
  font-size: 36px;
  font-weight: 400;
  color: #C0D06F;
  margin: 20px;
}

.jumpers
{
  text-align: center;
}

.jumpers img
{
  width: 100%;
  height: auto;
}

.jumpers p {
  margin-bottom: 30px;
}
