<app-navbar></app-navbar>
<app-alert></app-alert>
<router-outlet></router-outlet>

<!--
<body>

<main>
  <nav class="navbar bg-primary navbar-dark navbar-expand-md">
    <a class="navbar-brand" href="#">Skoki.pl</a>
    <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-browse="#mainmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Start </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Zawody </a>

          <div class="dropdown-menu" aria-labelledby="submenu">

            <a class="dropdown-item" href="#"> Terminarz zawodów </a>
            <a class="dropdown-item" href="#"> Ranking Pucharu Świata </a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#"> Sylwetki zawodników </a>
            <a class="dropdown-item" href="#"> Skocznie narciarskie </a>

          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wydarzenia </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt </a>
        </li>
      </ul>
    </div>

  </nav>

  <section class="jumpers">

    <div class="container">

      <header>

        <h1>Poznajmy zawodników</h1>
        <p>W tej sekcji specjalnie dla Was prezentujemy sylwetki zawodników, których znamy z rywalizacji w konkursach
          pucharu świata oraz olimpijskich. Poznaj osiągnięcia, statystyki, a także ciekawostki na temat najbardziej
          rozpoznawalnych zawodników!</p>

      </header>

      <div class="row">

        <div class="col-sm-6 col-md-5 offset-md-1">

          <figure>
            <a href="#"><img src="assets/malysz.jpg" alt="Adam Małysz"></a>
            <figcaption>Adam Małysz</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-5">

          <figure>
            <a href="#"><img src="assets/stoch.jpg" alt="Kamil Stoch"></a>
            <figcaption>Kamil Stoch</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/ahonen.jpg" alt="Janne Ahonen"></a>
            <figcaption>Janne Ahonen</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/schmitt.jpg" alt="Martin Schmitt"></a>
            <figcaption>Martin Schmitt</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/kubacki.jpg" alt="Dawid Kubacki"></a>
            <figcaption>Dawid Kubacki</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/zyla.jpg" alt="Piotr Żyła"></a>
            <figcaption>Piotr Żyła</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/kranjec.jpg" alt="Robert Kranjec"></a>
            <figcaption>Robert Kranjec</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-4">

          <figure>
            <a href="#"><img src="assets/schlierenzauer.jpg" alt="Gregor Schlierenzauer"></a>
            <figcaption>Gregor Schlierenzauer</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-3">

          <figure>
            <a href="#"><img src="assets/kot.jpg" alt="Maciej Kot"></a>
            <figcaption>Maciej Kot</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-3">

          <figure>
            <a href="#"><img src="assets/kraft.jpg" alt="Stefan Kraft"></a>
            <figcaption>Stefan Kraft</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-3">

          <figure>
            <a href="#"><img src="assets/ammann.jpg" alt="Simon Ammann"></a>
            <figcaption>Simon Ammann</figcaption>
          </figure>

        </div>

        <div class="col-sm-6 col-md-3">

          <figure>
            <a href="#"><img src="assets/kasai.jpg" alt="Noriaki Kasai"></a>
            <figcaption>Noriaki Kasai</figcaption>
          </figure>

        </div>
      </div>
    </div>

  </section>

</main>

</body>
-->
