<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>

      <div *ngIf="!(authState | async).isLoggedIn">
        <li [routerLink]="['/auth/login']">
          <a class="nav-link">Login</a>
        </li>
        <li [routerLink]="['/auth/register']">
          <a class="nav-link">Register</a>
        </li>
      </div>

      <div *ngIf="(authState | async).isLoggedIn">

        <!--OWNER -->
        <li *ngIf="(authState | async).role == 'ROLE_PET_OWNER'">
          <a class="nav-link" href="#">Owner</a>
          <ul class="dropdown">
            <li [routerLink]="['/owner/info']"><a class="nav-link">Account info</a></li>
            <li [routerLink]="['/pet/pets/' + (authState | async).username]"><a class="nav-link">My Pets</a></li>
            <li [routerLink]="['/visit/book']"><a class="nav-link">Book visit</a></li>
            <li [routerLink]="['/doctor/doctors']"><a class="nav-link">See doctors</a></li>
          </ul>
        </li>

        <!--DOCTOR -->
        <li *ngIf="(authState | async).role == 'ROLE_DOCTOR'">
          <a class="nav-link" href="#">Doctor</a>
          <ul class="dropdown">
            <li [routerLink]="['/owner/owners']"><a class="nav-link">Pet Owners</a></li>
            <li [routerLink]="['/visit/visits']"><a class="nav-link">Visits</a></li>
          </ul>
        </li>

        <li>
          <a class="nav-link" href="/" (click)="onLogoutClick()">Logout</a>
        </li>

      </div>
    </ul>
  </div>
  <span class="username">{{(authState | async).username}}</span>
</nav>

