a {
  text-decoration: none;
}

.username {
  color: white;
}

nav {
  font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}
.bg-primary {
  color: orange;
}

li:hover {
  background: red;
  cursor: pointer;
}

ul li ul {
  background: orange;
  opacity: 0;
  min-width: 5rem;
  /*
  position: absolute;
  */
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

