<p>
  You are booking a visit for a date: {{(bookingDate$ | async)}}
</p>

<select [(ngModel)]="selectedPetId">
  <option *ngFor="let pet of (pets$ | async)" [value]="pet.id">{{pet.name}}</option>
</select>
<select [(ngModel)]="selectedDoctorId">
  <option *ngFor="let doctor of (doctors$ | async)" [value]="doctor.id">{{doctor.firstName}} {{doctor.lastName}}</option>
</select>
<button (click)="onBookVisitConfirm()">confirm</button>
