<div class="login-page">
  <div class="form">
    <div *ngIf=isLoginFailed>
      <h2>Bad credentials, try again</h2>
    </div>
    <form class="login-form">
      <input type="text" [(ngModel)]="username" name="email" placeholder="email"/>
      <input type="password" [(ngModel)]="password" name="password" placeholder="password"/>
      <button (click)="onLoginClick()">login</button>
      <p class="message">Not registered? <a [routerLink]="['/auth/register']">Create an account</a></p>
    </form>
  </div>
</div>
