<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Email</th>
    <th scope="col">Phone Number</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let owner of (owners$ | async); let i=index"
    (click)="onOwnerClick(owner.email)"
    app-owner-row
    [owner]="owner"
    [iterator]="i"
  >
  </tr>
  </tbody>
</table>

