<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">Pet Name</th>
    <th scope="col">Doctor Name</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let visit of (visits$ | async); let i=index"
    app-visit-row
    [visit]="visit"
    [iterator]="i"
  >
  </tr>
  </tbody>
</table>

<div>
  <button (click)="onBackClick()">Back</button>
</div>
